body {
  font-family: 'Press Start 2P', cursive;
  background-color: #011F3F;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-top: 5%;
  color: #FEF2BF;
}

.container {
  /* remove spacing between childs (buttons) */
  font-size: 0;
  padding: 5%;
}

.btn {
  font-size: 0;
  /* padding: 0; */
  margin: 2px;
  width: 250px;
  height: 250px;
  border: solid 10px;
  border-radius: 100% 10% 8% 10%;
}

.btn:focus {
  outline: none;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: red;
  transform: rotate(90deg);
}

.btn-blue {
  background-color: blue;
  transform: rotate(180deg);

}

.btn-yellow {
  background-color: yellow;
  transform: rotate(270deg);
}

.btn-clicked {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
